// about.scss

.about {
	margin: 50px auto 0;
	width: 85%;
	max-width: 650px;

	h3 {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		color: rgb(222, 222, 222);

		.icon-wrapper {
			display: flex;
			margin-right: 6px;
		}

		.icon {
			height: 28px;
		}

		.text {
			font-size: 1.5rem;
			font-weight: 400;
		}
	}

	.paragraphe {
		font-weight: 300;

		p {
			margin-bottom: 10px;
			font-size: 1rem;
		}

		.highlight {
			color: rgb(255, 255, 255);
		}
	}
	@media (max-width: 600px) {
		width: 95%;
	}
	@media (max-width: 425px) {
		.paragraphe {
			p {
				font-size: 0.9rem;
			}
		}
	}
}
