/* src/styles/global.scss */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #060606;
	color: #dadada;
	font-family: 'Manrope', sans-serif;
}
