/* src/styles/page.scss */

.container {
	flex: 1;
	max-width: 700px;
	width: 90%;
	margin: 26px auto 0;

	.bar-two {
		width: 85%;
		height: 1px;
		margin: 34px auto;
		background: #5151517f;
	}
	@media (max-width: 600px) {
		.bar-two {
			width: 95%;
		}
	}
}

.footer {
	text-align: center;
	margin: 70px 0;
	padding: 10px 0;
	font-size: 0.7rem;
	color: rgb(150, 150, 150);
	background: rgba(35, 35, 35, 0.217);
}
