/* src/styles/page.scss */

.container {
	flex: 1;
	max-width: 700px;
	width: 90%;
	margin: 26px auto 0;

	.bar-two {
		width: 85%;
		height: 1px;
		margin: 34px auto;
		background: #5151517f;
		// animation: fadeInBar 2.4s ease-in-out forwards;

		@keyframes fadeInBar {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
	@media (max-width: 600px) {
		.bar-two {
			width: 95%;
		}
	}
}
