/* src/styles/page.scss */
.container {
	max-width: 800px;
	width: 90%;
	margin: 26px auto 0;
	.title {
		text-align: center;
		h1 {
			font-size: 1.8rem;
			font-weight: 500;
			color: rgb(212, 212, 212);
		}
		h2 {
			font-size: 1rem;
			font-weight: 480;
		}
	}
	.bar-one {
		width: 95%;
		height: 0.6px;
		margin: 34px auto;
		background: #386dff;
	}

	.about {
		margin: 50px auto 0;
		width: 85%;
		max-width: 650px;
		h3 {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			color: rgb(222, 222, 222);
			.icon-wrapper {
				display: flex;
				margin-right: 6px;
			}
			.icon {
				height: 28px;
			}
			.text {
				font-size: 1.5rem;
				font-weight: 400;
			}
		}
		.paragraphe {
			text-align: justify;
            font-weight: 300;
			p {
				margin-bottom: 10px;
			}
			.highlight {
				color: rgb(255, 255, 255);
			}
		}
	}
	.bar-two {
		width: 85%;
		height: 0.1px;
		margin: 34px auto;
		background: #262626;
	}
}
