/* src/styles/projects.scss */

.projects {
	margin: 50px auto 0;
	width: 85%;
	max-width: 650px;

	h3 {
		// background: rgb(0, 107, 59);
		margin-bottom: 50px;
		display: flex;
		align-items: center;
		color: rgb(233, 233, 233);

		.icon-wrapper {
			display: flex;
			margin-right: 10px;
		}

		.icon {
			height: 28px;
		}

		.text {
			font-size: 1.5rem;
			font-weight: 400;
		}
	}

	.project {
		display: flex;
		margin-bottom: 30px;

		.left-column {
			// background: rgb(46, 0, 8);
			width: 20%;
			color: rgb(222, 222, 222);
		}

		.right-column {
			// background: rgb(0, 55, 0);
			width: 80%;
			text-align: justify;

			h4 {
				margin-bottom: 10px;
				font-size: 1.6rem;
				font-weight: 500;
				color: rgb(255, 255, 255);
				line-height: 0.8;
			}

			p {
				margin-bottom: 6px;
			}
			.description {
				font-weight: 100;
			}

			.technos {
				color: rgb(232, 232, 232);
				font-size: 0.8rem;
				font-weight: 500;
			}
		}
	}
}
