// title.scss

.title {
	margin: 8px auto 65px;
	width: 85%;
	max-width: 650px;

	h1 {
		font-size: 2.45rem;
		font-weight: 600;
		color: rgb(197, 197, 197);
		margin-bottom: 1px;
		letter-spacing: -1px;

		animation: fadeInH1 2s ease-in-out forwards;

		@keyframes fadeInH1 {
			0% {
				opacity: 0;
				transform: translateX(-10px);
			}

			100% {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}

	h2 {
		font-size: 1rem;
		font-weight: 200;
		animation: fadeInH2 2s ease-in-out forwards;

		@keyframes fadeInH2 {
			0% {
				opacity: 0;
				transform: translateX(10px);
			}

			100% {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}

	@media (max-width: 600px) {
		width: 95%;
		margin: 8px auto 55px;

		h1 {
			font-size: 2.3rem;
		}

		h2 {
			font-size: 0.9rem;
		}
	}
}
